<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EarthBreaker</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <section class="enter" v-if='view == "enter"'>
        <h1>Enter</h1>
        <input type="text" v-model="name" placeholder="name" />
        <input type="text" placeholder="Room ID" v-model="code" />
        <button @click="enterRoom">Enter Room</button>
      </section>
      <section class="room" v-if='view == "room"'>
        <h1>{{name}}: {{room.doc.code}} created {{room.doc.created}}</h1>
        <small v-if="loading">Updating...</small>
      </section>
      <div id="map"></div>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="script.js"></script>
  </body>
</html>
