<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EarthBreaker</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <section class="enter" v-if='view == "enter"'>
        <img src="logo.png" alt="EarthBreaker" />
        <form @submit.prevent="enterRoom">
          <div class="input-group">
            <label for="code">Room Code</label>
            <input type="text" id="code" v-model="code" />
            <small>Will create a new room if it doesn't exist</small>
          </div>
          <div class="input-group">
            <label for="name">Your Name</label>
            <input type="text" id="name" v-model="name" />
          </div>
          <button>Enter Room</button>
        </form>
      </section>
      <section class="room" v-if='view == "room"'>
        <h1>
          Welcome to {{room.doc.code}}, {{name}}! Click on the map to add your
          pin.
        </h1>
        <small v-if="loading">Updating...</small>
        <small v-else
          >This room was created {{ new
          Date(room.doc.created).toDateString()}}</small
        >
      </section>
      <div id="map"></div>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="script.js"></script>
  </body>
</html>
